# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [6]:
import pandas as pd
import numpy as np
import functions as funcs

df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')# load file 1
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')# load file 2
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')# load file 3

# clean file 1 data
df1_cleaned = funcs.clean_and_format_data(df1,
                                        {'customer':'customer_id', 'st':'state'},
                                        {'customer_lifetime_value':[['%','']],
                                         'state':[['AZ','Arizona'],['WA','Washington'],['Cali','California']],
                                         'education': [['Bachelors','Bachelor']]},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'})
# clean file 2 data
df2_cleaned = funcs.clean_and_format_data(df2,
                                        {'customer':'customer_id', 'st':'state'},
                                        {'customer_lifetime_value':[['%','']],
                                         'state':[['AZ','Arizona'],['WA','Washington'],['Cali','California']],
                                         'education': [['Bachelors','Bachelor']]},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'})
# clean file 3 data
df3_cleaned = funcs.clean_and_format_data(df3,
                                        {'customer':'customer_id', 'st':'state'},
                                        {},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'})

# merge data
data = pd.concat([df1_cleaned, df2_cleaned, df3_cleaned], axis=0)

data # show data

,unnamed:_0,customer_id,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,2,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,4,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [ ]:
!ls

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [ ]:
# load marketing customer analysis data
mca_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

mca_data_clean = funcs.clean_and_format_data(mca_data,
                                        {'customer':'customer_id', 'st':'state'},
                                        {},
                                        {'number_of_open_complaints': 'int',
                                         'customer_lifetime_value': 'float'}) # clean the data

mca_data_clean

In [ ]:
def convert_column_to_datetime(df: pd.DataFrame, column_name: str) -> pd.DataFrame:
    '''
    This function turns a string column into date time format
    
    Input:
    df: input DataFrame
    
    Output
    df: outout DataFrame with converted column
    '''
    
    df1 = df.copy()
    
    df1[column_name] = pd.to_datetime(df[column_name], errors='coerce')
    
    return df1

In [ ]:
mca_data_clean = convert_column_to_datetime(mca_data_clean,'effective_to_date')# convert effective_to_date to datetime type

mca_data_clean['effective_to_date_month'] = mca_data_clean['effective_to_date'].dt.month# add a new column with the month

mca_data_clean.to_csv('mca_data_clean.csv',index = False, sep=";")# save data to csv file

mca_data_clean.head(50)# show clean data

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# 1.

df1 = mca_data_clean.pivot_table(values='monthly_premium_auto', index='sales_channel', aggfunc='sum').round(2)

display(df1)
print("'Agent' is the sales channel with the highest revenue.")

# 2.

df2 = mca_data_clean.pivot_table(values='customer_lifetime_value',index=['education','gender'], aggfunc='mean').round(2)

display(df2)
print("There is no apparent strong dependency between education/gender and customer lifetime value.")

# 3.

df3 = mca_data_clean.pivot_table(values='number_of_policies', index=['policy_type'], columns=['effective_to_date_month'], aggfunc='sum').round(2)

#display(df3)

df3_melt = pd.melt(df3.reset_index(), id_vars='policy_type', var_name='effective_to_date_month' , value_name='number_of_policies')

display(df3_melt)